body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, lightblue , white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  display: inline-block !important;
  width: 23%;
  color: brown;
  background-color:black;
  border: none!important;
}

h1 {
  color: green
}

h5 {
  color: brown;
}

p {
  color: rgb(109, 109, 30)
}
